{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}
  <h1>Upcoming Events</h1>

  <ul class="list-group">
  {% for e in object_list %}
      <li class="list-group-item">
        <a href="{% url 'rsvp' e.id %}">{{ e.name }} -- {{ e.date }}</a>

        {% if request.user.is_authenticated %}
          (<a href="{% url 'rsvps' e.id %}">RSVPs</a>)
        {% endif %}
      </li>
  {% empty %}
      <li class="list-group-item">No events yet.</li>
  {% endfor %}
  </ul>

{% endblock %}
